.hero {
  display: flex;
  flex-direction: column;
}
.hero .block-text-header {
  align-self: center;
}
.hero-image-container {
  display: flex;
  /* margin-top: 10px; */
}
.hero-firstblock {
  margin: 70px 0;
}
.hero .block-text-header {
  margin-top: 0;
  margin-bottom: 20px;
}
.hero .hero-image-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}
.hero .info-text {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 20px;
}
@media (max-width: 608px) {
  .hero .hero-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hero .hero-image-container .image-container {
    margin: 10px 0;
  }
}
