.expansion-panel .expansion-panel-inner {
  min-height: 75px;
  margin: 10px 0;
}
.expansion-panel .expansion-panel-inner.Mui-expanded {
  border: 1px solid #e5e5e5;
  position: relative;
  bottom: 10px;
}
.expansion-panel.MuiPaper-elevation1 {
  margin: 10px 0;
  border: 1px solid #e5e5e5;
  box-shadow: initial;
}
.main-accordion-container .panel-heading {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.main-accordion-container .icon-container {
  color: #95e1d3;
  font-size: 25px;
}
.main-accordion-container ::-webkit-scrollbar-thumb {
  background-color: #95e1d3;
}
.main-accordion-container {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 430px;
}
.main-accordion-container .image-container img {
  width: 100%;
  height: 100%;
}

.MuiSvgIcon-root {
  font-size: 2.25em;
  color: #d0d0d0;
}
.main-accordion-container ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #95e1d3;
}
.main-accordion-container .MuiCollapse-container {
  overflow-y: scroll;
  max-height: 100px;
}
