.top-navbar {
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}
.top-navbar .nav-link {
  margin: 0 8px;
}
.top-navbar a {
  text-transform: uppercase;
}
.top-navbar .navbar-collapse {
  box-shadow: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.topnav-active {
  border-bottom: 1px solid white;
}
@media (max-width: 760px) {
  .navbar-nav {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
  }
}
