.top-navbar {
  align-self: flex-end;
  background-color: rgba(0, 0, 0, 0) !important;
  border: none !important;
}
.top-navbar .nav-link {
  margin: 0 8px;
}
.top-navbar a {
  text-transform: uppercase;
}
.top-navbar .navbar-collapse {
  box-shadow: none;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
}
.navbar-nav.nav-invisible {
  opacity: 0;
}

.navbar-nav .topnav-active {
  border-bottom: 2px solid #fce38a;
  color: #fce38a !important;
}
@media (max-width: 765px) {
  .navbar-nav {
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    transition: opacity 0.2s ease-in-out;
  }
}
