.number-bar {
  width: 100vw;
  /* https://stackoverflow.com/a/31391593/5972531 */
  margin-left: calc(-50vw + 50%);
  background-color: #95e1d3;
  color: #ffffff;
  display: flex;
  height: 150px;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
}
.numberbar-number {
  font-size: 40px;
  font-weight: bolder;
  text-align: center;
}
.counter {
  margin: 0 15px;
  text-align: center;
}
@media (max-width: 600px) {
  .number-bar {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  /* .numberbar-number {
    font-size: 15px;
  } */
}
