.main-firstblock {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-image: url('../../images/forest.png');
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 450px;
  background-position: 0;
  opacity: 0.8;
}
.main-firstblock .block-text-header {
  color: #ffffff;
}
.main-firstblock .image-container img {
  position: relative;
  border-radius: 5px;
}
.main-firstblock .image-container {
  margin-top: 10px;
  position: relative;
  border-radius: 5px;
}
.main-secondblock .info-text {
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 20px;
}

.main-secondblock .block-text-header {
  align-self: center;
  margin-bottom: 20px;
}

.main-thirdblock {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  background-color: #f8f8f8;
}
.main-thirdblock .dash {
  margin: 0;
}
.main-thirdblock .carousel .info-text {
  margin-bottom: 0;
}
.main-fourthblock .block-text {
  margin-bottom: 20px;
}
.main-fourthblock .info-text {
  margin-top: 20px;
}
.accordion-container {
  margin: 40px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 420px;
}
.accordion-container .image-container img {
  width: 100%;
  height: 100%;
}

.carousel .review {
  max-width: 500px;
  margin: auto;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.work-expanded {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  height: 500px;
}
.work .image-container img {
  width: 100%;
  height: 100%;
  transition: transform 0.2s;
}
.work .image-container img:hover {
  transform: scale(1.2);
}

.work .image-container:nth-child(4) {
  grid-row: 1/3;
  grid-column: 3/4;
}
.work-carousel {
  display: none;
}
@media (max-width: 750px) {
  .work-expanded {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media (max-width: 550px) {
  .work-expanded {
    display: none;
  }
  .work-carousel {
    display: block;
  }
  .work-carousel .image-container {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
  }
}
@media (max-width: 645px) {
  .main-secondblock .image-container img {
    display: none;
  }
  .accordion-container {
    display: flex;
  }
}
