.cursive-text {
  font-family: cursive;
}
.block-text {
  text-transform: uppercase;
  font-weight: bolder;
}
.cursive-text {
  font-family: 'Kaushan Script', cursive;
}
.block-text {
  font-family: 'Montserrat', sans-serif;
}

.block-text-header {
  text-align: center;
  margin-top: 40px;
}
