.mid-navbar {
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 150px));
  /* align-self: center; */
  justify-content: center;
  position: relative;
  top: 200px;
}
.mid-navbar-link {
  margin: 0 5px;
  width: 100px;
}
.midnav-status-line {
  height: 1px;
  background-color: #ffffff;
}

@media (max-width: 700px) {
  .mid-navbar {
    grid-template-rows: repeat(4, minmax(40px, 1fr));
    grid-template-columns: initial;
    top: 150px;
  }
}
