.mid-navbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: center;
  position: relative;
  margin-top: 50px;
  font-family: 'Roboto';
  font-size: 16px;
  grid-gap: 0 15px;
}
.header .mid-navbar-link {
  margin: 0 5px;
  width: 100%;
  color: #ffffff !important;
  height: 50px;
}
.header .mid-navbar-link a {
  color: #ffffff !important;
  text-transform: uppercase;
}
.midnav-link-container {
  border-top: 2px solid #ffffff;
}
.midnav-active {
  border-image: linear-gradient(to right, red 25%, white 50%) 4;
}
.mid-nav-number {
  font-size: 20px;
  font-family: 'Monserat';
  font-weight: bold;
}
.mid-navbar-link a:hover {
  text-decoration: none;
}
@media (max-width: 630px) {
  .mid-navbar {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
  }
}
